.comments-header {
  font-size: 22px;
  font-weight: bold;
  padding: 16px;
  color: white;
}

.btn-comment-action {
  width: 40%;
  aspect-ratio: 1;
  border: none;
  background-size: cover;
  background-color: #121c21;
  color: aliceblue;
}

.comment {
  border-bottom: 1px solid white;
  padding-bottom: 8px;
}

.comment-header {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.comment-content {
  color: white;
  font-size: 14px;
  margin-top: 16px;
}

.comment-btn-container {
  display: flex;
  justify-content: center;
}

.previous-comments {
  background-image: url("../media/back-arrow.png");
}

.next-comments {
  background-image: url("../media/right-arrow.png");
}

.delete-icon {
  background-image: url("../media/bin.png");
}
