html {
  background-color: #121c21;
}

body {
  font-family: "Public Sans";
}

header {
  border-bottom: 1px solid #e5e8eb;
  padding: 12px 40px;
  display: flex;
  align-items: center;
}

.title {
  color: white;
  text-decoration: none;
  font-family: "Public Sans";
  font-weight: bold;
  font-size: 18px;
}

footer {
  border-top: 1px solid #e5e8eb;
  text-align: center;
  padding-top: 8px;
  margin: 16px 0px;
}

.main-container {
  padding: 20px 0px;
  max-width: 80%;
  margin: auto;
}

@media (max-width: 576px) {
  .main-container {
    max-width: 95%;
  }
}

.hidden {
  display: none;
}
