header {
  border-bottom: 1px solid #E5E8EB;
  padding: 12px 40px;
  margin-bottom: 16px;
  height: 64px;
  display: flex;
  align-items: center;
}

.title-text {
  color: black;
  text-decoration: none;
  font-family: 'Public Sans';
  font-weight: bold;
  font-size: 18px;
}

body {
  max-width: 60%;
  margin: auto;
  font-family: 'Public Sans';
}

@media (max-width: 576px) {
  body {
    max-width: 80%;
  }
}

footer {
  border-top: 1px solid #E5E8EB;
  text-align: center;
  padding-top: 8px;
  margin: 16px 0px;
}

.main-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
}